{section name=i loop=$new_spezials_array}
  {if $smarty.section.i.first}
          <tr>
            <td><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="100%" class="block_head_background">{$lang.block_heading_specials}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="4">
  <tr>
  {/if}
     <td width="50%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td valign="top" align="left" width="{$smarty.const.SMALL_IMAGE_WIDTH}" class="smallText"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="{$smarty.const.SMALL_IMAGE_WIDTH}" height="5"><br>
           <a href="{product_info_link products_id=$new_spezials_array[i].products_id}">{small_product_image image=$new_spezials_array[i].products_image alt=$new_spezials_array[i].products_name|strip_tags}</a><br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="top" class="smallText"><a href="{product_info_link products_id=$new_spezials_array[i].products_id}"><b>{$new_spezials_array[i].products_name}</b></a><br>
           <br>{$new_spezials_array[i].products_description|truncate:120:" [...]":false|close_tags}<br>
         </td>
       </tr>
       <tr>
         <td valign="bottom" class="smallText" nowrap="nowrap">
           <s>{$new_spezials_array[i].products_price}{$new_spezials_array[i].products_units}</s><br>
           {$new_spezials_array[i].products_special_price}{$new_spezials_array[i].products_units}<br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="bottom" align="right" >{if $smarty.session.member->group.show_price eq 1 }<a href="{html_href_link content=$page_file action=buy_now products_id=$new_spezials_array[i].products_id}">{html_image_button image="hp_buy.gif" alt=$lang.image_button_in_cart}</a>{/if}
         <img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1">
         <a href="{product_info_link products_id=$new_spezials_array[i].products_id}">{html_image_button image="hp_more.gif" alt=$lang.image_button_in_cart}</a>
         </td>
       </tr>
        <tr>
          <td valign="top" colspan="3" class="smallText">
{if $new_spezials_array[i].products_base_price != 1}
  <span class="smallText">{$lang.text_products_base_price}: </span>
  <span class="special_base_price">{$new_spezials_array[i].products_base_unit} = {$new_spezials_array[i].base_product_special_price}</span></s><br>
{/if}
<span class="pangv">{$pangv}</span><br>
          </td>
        </tr>
     </table></td>
  {if $smarty.section.i.rownum is even}
    </tr>
    <tr>
  {else}
     <td><img src="{$theme_image}/pg.gif" border="0" alt=" " width="1" height="150"></td>
  {/if}
  {if $smarty.section.i.last}
  </tr>
</table>
            </td>
          </tr>
  {/if}
{/section}