<div class="container">
    <div class="row">
    <div class="col-md-12">                              
        <div class="alert alert-{$info.type} fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>{$info.title}</h4>
            <p>{$info.text}</p>
        </div>
    </div>
	</div>
</div>