{include file="oos/system/_header.tpl"}

<form name="customers_image" action="{html_get_link}" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="add_customers_image">
<input type="hidden" name="content" value="{$page_file}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}


    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
<tr>
	<td class="main">
		{$lang.text_customers_image}<br>
		<br>
		{customers_image image=$customer.customers_image}
	</td>

</tr>
{if $customer.customers_image != '' }
<tr>
	<td class="main">
		<input type="checkbox" name="remove_image" value="yes">{$lang.text_customers_image_delete}
	</td>

</tr>
{/if}
<tr>
	<td height="20"></td>
</tr>
<tr>
	<td class="main">
<b>{$lang.text_info}</b><br>
<br>
{$lang.text_step_1}<br>
{$lang.text_help_1}<br>
<br>
<input id="file_1" name="id" type="file" size="30"><br>
<br>
<br>
{$lang.text_step_2}<br>
{$lang.text_help_2}<br>
<br>
{$lang.text_step_3}<br>
{$lang.text_help_3}<br>
<br>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><a href="{html_href_link content=$filename.yourstore connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
    </table>
</form>

{include file="oos/system/_footer.tpl"}