{include file="oos/system/_header.tpl"}

      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><b>{$lang.heading_download}</b></td>
      </tr>
      <tr>
        <td><img src="images/trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
{section name=i loop=$downloads_array}
          <tr class="oos-BoxContents">
    {if $downloads_array[i].show_download_link eq 'true'}
            <td class="main" align="center"><a href="{html_href_link content=$filename.download order=$downloads_array[i].last_order id=$downloads_array[i].id}">{$downloads_array[i].products_name}</a><br><a href="{html_href_link content=$filename.download order=$downloads_array[i].last_order id=$downloads_array[i].id}">{html_image_button image="download.gif"}</a></td>
    {else}
            <td class="main" align="center">{$downloads_array[i].products_name}</td>
    {/if}
            <td class="main">{$lang.table_heading_download_date}<br>{$downloads_array[i].download_expiry|oos_date_long}</td>
            <td class="main" align="right">{$downloads_array[i].download_count} {$lang.table_heading_download_count}</td>
          </tr>
{/section}
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>