{include file="oos/system/_header.tpl"}
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $info_message != '' }
      <tr>
        <td class="smallText">{$info_message}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}

{if ( $login_result_values.man_key2 eq $newkey2 and $login_result_values.status != 0 ) }
    <tr>
      <td><form name="login" method="post" action="{html_href_link content=$filename.admin_login action=login_process connection=SSL}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	  
	  
	  <table border="0" width="70%" cellspacing="0" cellpadding="2">
         <tr>
            <td class="main" width="50%" valign="top"><b>{$lang.heading_admin_login}</b></td>
          </tr>
          <tr>
            <td width="50%" height="100%" valign="top"><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
              <tr>
                <td>
	          <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main" colspan="2"></td>
                  </tr>
                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_email_address}</b></td>
                    <td class="main">{$email_address}</td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_key}</b></td>
                    <td class="main">{$newkey2}</td>
                  </tr><input type="hidden" name="email_addressa" value="{$email_address}">
                    <input type="hidden" name="keya" value="{$verif_key}">
                    <input type="hidden" name="keyb" value="{$newkey2}">
                  <tr><td colspan="2"><td height="10"></td></tr>
                  <tr><td class="smallText" colspan="2"></td></tr>
                  <tr><td colspan="2"><td height="10"></td></tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="50%" align="right" valign="top">{html_image_submit image="sign_in.gif" alt=$lang.image_button_login}</td>
          </tr>
	    </table></form></td>
      </tr>
{/if}
    </table>

{include file="oos/system/_header.tpl"}