{include file="oos/system/_header.tpl"}

    <form name="checkout_address" action="{html_href_link content=$filename.checkout_payment_address connection=SSL}" method="post" onSubmit="return check_form();">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
	
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $process eq 'true'}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_new_payment_address_problem}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBoxNotice">
          <tr class="infoBoxNoticeContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="100%" valign="top">{$lang.text_new_payment_address_problem}</td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}
{if $process eq 'false'}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_payment_address}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="50%" valign="top">{$lang.text_selected_payment_destination}</td>
                <td align="right" width="50%" valign="top"><table border="0" cellspacing="0" cellpadding="2">
                  <tr>
                    <td class="main" align="center" valign="top"><b>{$lang.title_payment_address}</b><br><img src="{$theme_image}/arrow_south_east.gif" border="0" alt=" " width="50" height="31"></td>
                    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" valign="top">{oos_address_label customers_id=$smarty.session.customer_id address_id=$smarty.session.billto}</td>
                    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
  {if $addresses_count > 0}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_address_book_entries}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="50%" valign="top">{$lang.text_select_other_payment_destination}</td>
                <td class="main" width="50%" valign="top" align="right"><b>{$lang.title_please_select}</b><br><img src="{$theme_image}/arrow_east_south.gif" border="0" alt=" " width="40" height="32"></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
   {foreach item=addresses from=$addresses_array}
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td colspan="2"><table border="0" width="100%" cellspacing="0" cellpadding="2">
     {if $addresses.address_book_id eq $smarty.session.billto }
                  <tr id="defaultSelected" class="moduleRowSelected" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="selectRowEffect(this, {$addresses.radio_buttons})">
     {else}
                  <tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="selectRowEffect(this, {$addresses.radio_buttons})">
     {/if}

                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" colspan="2"><b>{$addresses.firstname} {$addresses.lastname}</b></td>
                    <td class="main" align="right">
      {if $addresses.address_book_id eq $smarty.session.billto }
         <input type="radio" name="address" value="{$addresses.address_book_id}" CHECKED>
      {else}
         <input type="radio" name="address" value="{$addresses.address_book_id}">
      {/if}
    </td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                  <tr>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td colspan="3"><table border="0" cellspacing="0" cellpadding="2">
                      <tr>
                        <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                        <td class="main">{$addresses.addresses}</td>
                        <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                      </tr>
                    </table></td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                </table></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
   {/foreach}
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
   {/if}
{/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_new_payment_address}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="100%" valign="top">{$lang.text_create_new_payment_address}</td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
                  <tr>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td>
{include file="oos/modules/checkout_new_address.html"}
                    </td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                </table></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main"><b>{$lang.title_continue_checkout_procedure}</b><br>{$lang.text_continue_checkout_procedure}</td>
                <td class="main" align="right"><input type="hidden" name="action" value="submit">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
{if $process eq 'true'}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><a href="{html_href_link content=$filename.checkout_payment_address connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" align="right"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td><img src="{$theme_image}/checkout_bullet.gif" border="0" alt=" " width="11" height="11"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" width="25%" class="checkoutBarFrom"><a href="{html_href_link content=$filename.checkout_shipping connection=SSL}" class="checkoutBarFrom">{$lang.checkout_bar_delivery}</a></td>
            <td align="center" width="25%" class="checkoutBarCurrent">{$lang.checkout_bar_payment}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_confirmation}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_finished}</td>
          </tr>
        </table></td>
      </tr>
    </table>
    </form>

{include file="oos/system/_footer.tpl"}