{include file="oos/system/_header.tpl"}

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $valid_product eq false }
          <tr>
            <td class="main"><br><b>{$lang.error_invalid_product}</b></td>
          </tr>
{else}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">

<form name="product_reviews_write" action="{html_href_link content=$filename.product_reviews_write action=process products_id=$smarty.get.products_id}" method="post" onSubmit="return checkForm();">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}

          <tr>
            <td class="main"><b>{$lang.sub_title_product}</b> {$product_info.products_name}</td>
            <td rowspan="4" valign="top" align="right"><br><a href="{product_info_link products_id=$smarty.get.products_id}">{small_product_image image=$product_info.products_image alt=$product_info.products_name|strip_tags hspace=5 vspace=5}</a></td>
          </tr>
          <tr>
            <td class="main"><b>{$lang.sub_title_from}</b> {$customer_info.customers_firstname} {$customer_info.customers_lastname}</td>
          </tr>
          <tr>
            <td class="main"><br><b>{$lang.sub_title_review}</b></td>
          </tr>
          <tr>
            <td>
<span id="spell_container" style="background-color: #ddd"></span><br>
<textarea id="tal" name="review" class="textarea">{$smarty.post.enquiry|stripslashes}</textarea>

            </td>
          </tr>
          <tr>
            <td class="smallText">{$lang.text_no_html}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td class="main"><br><b>{$lang.sub_title_rating}</b> {$lang.text_bad} <input type="radio" name="rating" value="1"> <input type="radio" name="rating" value="2"> <input type="radio" name="rating" value="3"> <input type="radio" name="rating" value="4"> <input type="radio" name="rating" value="5"> {$lang.text_good}</td>
      </tr>
      <tr>
        <td class="main"><br><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><a href="{html_href_link content=$filename.product_reviews products_id=$smarty.get.products_id}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
            <td align="right" class="main">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table><input type="hidden" name="get_params" value="products_id={$smarty.get.products_id}"></form></td>
      </tr>
{/if}
    </table>

{include file="oos/system/_footer.tpl"}