{include file="oos/system/_header.tpl"}

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
      <tr>
        <td><table border="0" cellspacing="0" cellpadding="2">
{foreach from=$websearch_results item=search_element}
        <tr>
          <td valign="top" class="main"><div align="justify"><a href="{$search_element->getURL()}" target="_blank" class="webSearchTitle"><b>{$search_element->getTitle()}</b></a><br />{$search_element->getSnippet()}<br /><a href="{$search_element->getURL()}" target="_blank"><u>{$search_element->getURL()}</u></a></div></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
{/foreach}
        </table></td>
      </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
  {$pagination}
{/if}
    </table>
	
{include file="oos/system/_footer.tpl"}