{include file="oos/system/_header.tpl"}
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
{if $smarty.const.ALLOW_CATEGORY_DESCRIPTIONS eq 'true' && $category.categories_description != '' }
      <tr>
        <td height="10"></td>
      </tr>
       <tr>
         <td class="category_desc">{$category.categories_description}</td>
       </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>{include file="oos/products/product_listing.html"}</td>
      </tr>
    </table>

{include file="oos/system/_footer.tpl"}