//
// The layout
// --------------------------------------------------



/*Footer */
footer {
	font-size: 14px;
	line-height: 22px;
}

footer.dark-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #191919;
    color: #bbb;
}
footer .inner {
	padding-top: 45px;
	padding-bottom: 35px;
}
footer .container > .row {
	margin-left: -25px;
	margin-right: -25px;
}
footer .row .inner {
	padding: 25px;
}
footer h4 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
footer p {
	margin-bottom: 15px;
}

footer a {
	color:#eee;
}

footer li a{
	color:#919191;
}

footer .inner {
    padding-bottom: 35px;
    padding-top: 45px;
}

footer a:hover, footer-bottom a:hover {
	text-decoration:none;
}

.footer-bottom {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #111;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
