{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{section name=i loop=$oos_history_array}
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.text_order_number}</b> {$oos_history_array[i].orders_id}</td>
            <td class="main" align="right"><b>{$lang.text_order_status}</b> {$oos_history_array[i].orders_status_name}</td>
          </tr>
        </table></td>
          </tr>
        </table>
        <table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
          <tr>
            <td height="1"></td>
          </tr>
          <tr>
            <td class="boxText"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" width="50%" valign="top"><b>{$lang.text_order_date}</b> {$oos_history_array[i].date_purchased|oos_date_long}<br><b>{$lang.text_order_shipped_to}</b> {$oos_history_array[i].delivery_name}</td>
            <td class="main" width="30%" valign="top"><b>{$lang.text_order_products}</b> {$oos_history_array[i].products_total}<br><b>{$lang.text_order_cost}</b> {$oos_history_array[i].order_total}</td>
            <td class="main" width="20%"><a href="{html_href_link content=$filename.account_history_info page=$smarty.get.page order_id=$oos_history_array[i].orders_id connection=SSL}">{$lang.text_view_order}</a></td>
          </tr>
        </table></td>
          </tr>
          <tr>
            <td height="1"></td>
          </tr>
        </table>
        </td>
          </tr>
        </table>
        <br>
{sectionelse}
        <table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
          <tr>
            <td height="1"></td>
          </tr>
          <tr>
            <td class="boxText">{$lang.text_no_purchases}</td>
          </tr>
          <tr>
            <td height="1"></td>
          </tr>
        </table>
        </td>
          </tr>
        </table>
{/section}
        </td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{if $numrows > 0 }

          <tr>
            <td class="smallText" valign="top">{$page_split}</td>
            <td class="smallText" align="right">{$lang.text_result_page} {$display_links}</td>
          </tr>
{/if}

          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="smallText"><a href="{html_href_link content=$filename.account connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}