{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" colspan="2"><b>{$lang.heading_order_number} # {$smarty.get.order_id} <small>({$order->info.orders_status})</small></b></td>
          </tr>
          <tr>
            <td class="smallText">{$lang.heading_order_date} {$order->info.date_purchased|oos_date_long}</td>
            <td class="smallText" align="right">{$lang.heading_order_total} {$order->info.total}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
{if $order->delivery != false }

            <td width="30%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><b>{$lang.heading_delivery_address}</b></td>
              </tr>
              <tr>
                <td class="main">{oos_address_format address_format_id=$order->delivery.format_id address=$order->delivery html=1}</td>
              </tr>
  {if $order->info.shipping_method }
              <tr>
                <td class="main"><b>{$lang.heading_shipping_method}</b></td>
              </tr>
              <tr>
                <td class="main">{$order->info.shipping_method}</td>
              </tr>
  {/if}
            </table></td>
{/if}
            <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{if sizeof($order->info.tax_groups) gt 1 }
                  <tr>
                    <td class="main" colspan="2"><b>{$lang.heading_products}</b></td>
                    <td class="smallText" align="right"><b>{$lang.heading_tax}</b></td>
                    <td class="smallText" align="right"><b>{$lang.heading_total}</b></td>
                  </tr>
{else}
                  <tr>
                    <td class="main" colspan="3"><b>{$lang.heading_products}</b></td>
                  </tr>
{/if}

{foreach item=products from=$order->products}
           <tr>
            <td class="main" align="right" valign="top" width="30">{$products.qty|quantity}&nbsp;x</td>
            <td class="main" valign="top">{$products.name}{if $products.serial_number != '' }&nbsp;&nbsp;({$lang.serial}{$products.serial_number}){/if}

  {if ( isset($products.attributes) && sizeof($products.attributes) gt 0 ) }
      {foreach item=attributes from=$products.attributes}
                <br><nobr><small>&nbsp;<i> - {$attributes.option}: {$attributes.value}</i></small></nobr>
      {/foreach}
  {/if}
                  </td>
  {if sizeof($order->info.tax_groups) gt 1 }
                  <td class="main" valign="top" align="right">{oos_display_tax_value value=$products.tax}%</td>
  {/if}
                  <td class="main" align="right" valign="top">{oos_display_price price=$products.final_price tax=$products.tax qty=$products.qty currency=$order->info.currency currency_value=$order->info.currency_value}</td>
                </tr>
{/foreach}
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><b>{$lang.heading_billing_information}</b></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td width="30%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><b>{$lang.heading_billing_address}</b></td>
              </tr>
              <tr>
                <td class="main">{oos_address_format address_format_id=$order->billing.format_id address=$order->billing html=1}</td>
              </tr>
              <tr>
                <td class="main"><b>{$lang.heading_payment_method}</b></td>
              </tr>
              <tr>
                <td class="main">{$order->info.payment_method}</td>
              </tr>
            </table></td>
            <td width="70%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
{foreach item=total from=$order->totals}
              <tr>
                <td class="main" align="right" width="100%">{$total.title}</td>
                <td class="main" align="right" nowrap>{$total.text}</td>
              </tr>
{/foreach}
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>

      <tr>
        <td class="main"><b>{$lang.heading_order_history}</b></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
{foreach item=statuses from=$statuses_array}
              <tr>
                <td class="main" valign="top" width="70">{$statuses.date_added|oos_date_short}</td>
                <td class="main" valign="top" width="90">{$statuses.orders_status_name}</td>
                <td class="main" valign="top">&nbsp;{$statuses.comments|nl2br|stripslashes}</td>
              </tr>
{/foreach}
            </table></td>
          </tr>
        </table></td>
      </tr>
 {if $download}
    {$download}
 {/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="right" class="main"><a href="{html_href_link content=$filename.account_history page=$smarty.get.page connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}