{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="tableHeading" align="center">{$lang.table_heading_number}</td>
            <td class="tableHeading">{$lang.table_heading_name}</td>
            <td class="tableHeading" align="right">{$lang.table_heading_location}</td>
          </tr>
          <tr>
            <td colspan="3"><img src="{$theme_image}/black.gif" border="0" alt=" " width="100%" height="1"></td>
          </tr>
{section name=i loop=$oos_address_book_array}
  {if $smarty.section.i.rownum is even}
          <tr class="addressBook-even">
  {else}
          <tr class="addressBook-odd">
  {/if}
            <td class="smallText">{$smarty.section.i.rownum|number_format}</td>
            <td class="smallText"><a href="{html_href_link content=$filename.account_address_book_process action=modify entry_id=$oos_address_book_array[i].address_book_id connection=SSL}">{$oos_address_book_array[i].entry_firstname} {$oos_address_book_array[i].entry_lastname}</a></td>
            <td class="smallText" align="right">{$oos_address_book_array[i].address_summary}</td>
          </tr>
  {if $smarty.section.i.last}
          <tr>
            <td colspan="3"><img src="{$theme_image}/black.gif" border="0" alt=" " width="100%" height="1"></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
    {if $smarty.section.i.rownum < $smarty.const.MAX_ADDRESS_BOOK_ENTRIES}
          <tr>
            <td colspan="3"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="smallText" valign="top"><a href="{html_href_link content=$filename.account connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a><br><br>{$smarty.const.MAX_ADDRESS_BOOK_ENTRIES|string_format:$lang.text_maximum_entries}</td>
                <td class="smallText" align="right" valign="top"><a href="{html_href_link content=$filename.account_address_book_process addentry_id=$smarty.section.i.rownum connection=SSL}">{html_image_button image="add_address.gif" alt=$lang.image_button_add_address}</a></td>
              </tr>
            </table></td>
          </tr>
    {else}
          <tr>
            <td colspan="3"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="smallText">{$smarty.const.MAX_ADDRESS_BOOK_ENTRIES|string_format:$lang.text_maximum_entries_reached}</td>
                <td class="smallText" align="right"><a href="{html_href_link content=$filename.account connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
              </tr>
            </table></td>
          </tr>
    {/if}
  {/if}
{sectionelse}
          <tr class="addressBook-odd">
            <td colspan="3" class="smallText">{$lang.text_no_entries_in_address_book}</td>
          </tr>
          <tr>
            <td colspan="3"><img src="{$theme_image}/black.gif" border="0" alt=" " width="100%" height="1"></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td colspan="3"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="smallText" valign="top"><a href="{html_href_link content=$filename.account connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a><br><br>{$smarty.const.MAX_ADDRESS_BOOK_ENTRIES|string_format:$lang.text_maximum_entries}</td>
                <td class="smallText" align="right" valign="top"><a href="{html_href_link content=$filename.account_address_book_process entry_id=2 connection=SSL}">{html_image_button image="add_address.gif" alt=$lang.image_button_add_address}</a></td>
              </tr>
            </table></td>
          </tr>
{/section}
        </table></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}