{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
   <form name="advanced_search" action="{html_get_link}" method="get" onSubmit="return check_form(this);">
   <input type="hidden" name="content" value="{$filename.advanced_search_result}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
 
 <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><br>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
                 <td width="100%" class="block_head_background">{$lang.heading_search_criteria}</td>
                 <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
              </tr>
           </table>
           <table border="0" width="100%" cellspacing="0" cellpadding="1">
             <tr>
              <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="block_content">
             <tr>
              <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="1"></td>
             </tr>
             <tr>
               <td class="boxText"><input type="text" name="keywords" id="keywords" style="width: 100%"></td>
             </tr>
             <tr>
              <td align="right" class="boxText"><input type="checkbox" name="search_in_description" value="1">{$lang.text_search_in_description}</td>
             </tr>
             <tr>
              <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="1"></td>
             </tr>
            </table></td>
           </tr>
          </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="smallText"><a href="javascript:searchWindow('{html_href_link content=$filename.popup_search_help}')">{$lang.text_search_help_link}</a></td>
            <td class="smallText" align="right">{html_image_submit image="search.gif" alt=$lang.image_button_search}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="1">
         <tr>
           <td><table border="0" width="100%" cellspacing="0" cellpadding="3">
            <tr>
              <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="1"></td>
            </tr>
            <tr>
             <td class="boxText">
               <table border="0" width="100%" cellspacing="0" cellpadding="2">
                 <tr>
                   <td class="fieldKey">{$lang.entry_categories}</td>
                   <td class="fieldValue">{$pull_down_menu_categories}</td>
                 </tr>
                 <tr>
                   <td class="fieldKey">&nbsp;</td>
                   <td class="smallText"><input type="checkbox" name="inc_subcat" checked="checked">{$lang.entry_include_subcategories}</td>
                 </tr>
                 <tr>
                   <td colspan="2"></td>
                 </tr>
                 <tr>
                   <td class="fieldKey">{$lang.entry_manufacturers}</td>
                   <td class="fieldValue">{$pull_down_menu_manufacturers}</td>
                 </tr>
                 <tr>
                   <td colspan="2"></td>
                 </tr>
{if $smarty.session.member->group.show_price eq 1 }
                 <tr>
                   <td class="fieldKey">{$lang.entry_price_from}</td>
                   <td class="fieldValue"><input type="text" name="pfrom" size="20" value=""></td>
                 </tr>
                 <tr>
                   <td class="fieldKey">{$lang.entry_price_to}</td>
                   <td class="fieldValue"><input type="text" name="pto" size="20" value=""></td>
                 </tr>
                 <tr>
                   <td colspan="2"></td>
                 </tr>
{/if}
               </table>
            </td>
            </tr>
            <tr>
             <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="1"></td>
           </tr>
          </table></td>
        </tr>
       </table> </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main">{$info_message}</td>
      </tr>
    </table>
    </form>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}