{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
{if $smarty.session.sendto != false}
            <td width="30%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><b>{$lang.heading_delivery_address}</b> <a href="{html_href_link content=$filename.checkout_shipping_address connection=SSL}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
              </tr>
              <tr>
                <td class="main">{oos_address_format address_format_id=$order->delivery.format_id address=$order->delivery html=1}</td>
              </tr>
  {if $order->info.shipping_method}
              <tr>
                <td class="main"><b>{$lang.heading_shipping_method}</b> <a href="{html_href_link content=$filename.checkout_shipping connection=SSL}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
              </tr>
              <tr>
                <td class="main">{$order->info.shipping_method}</td>
              </tr>
  {/if}
            </table></td>
{/if}
            <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
   {if sizeof($order->info.tax_groups) > 1}
                  <tr>
                    <td class="main" colspan="2"><b>{$lang.heading_products}</b> <a href="{html_href_link content=$filename.shopping_cart}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
                    <td class="smallText" align="right"><b>{$lang.heading_tax}</b></td>
                    <td class="smallText" align="right"><b>{$lang.heading_total}</b></td>
                  </tr>
  {else}
                  <tr>
                    <td class="main" colspan="3"><b>{$lang.heading_products}</b> <a href="{html_href_link content=$filename.shopping_cart}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
                  </tr>
  {/if}
  {foreach item=products from=$order->products}
          <tr>
            <td class="main" align="right" valign="top" width="30">{$products.qty|quantity}&nbsp;x</td>
            <td class="main" valign="top">{$products.name}

    {if $smarty.const.STOCK_CHECK eq 'true'}
      {oos_check_stock products_id=$products.id products_quantity=$products.qty}
    {/if}

    {if ( isset($products.attributes) && sizeof($products.attributes) gt 0 ) }
       {foreach item=attributes from=$products.attributes}
         <br><nobr><small>&nbsp;<i> - {$attributes.option}: {$attributes.value}</i></small></nobr>
      {/foreach}
  {/if}
</td>
    {if sizeof($order->info.tax_groups) gt 1 }
            <td class="main" valign="top" align="right">{oos_display_tax_value value=$products.tax} %</td>
    {/if}
            <td class="main" align="right" valign="top">{oos_price price=$products.final_price tax=$products.tax qty=$products.qty}</td>
          </tr>
{/foreach}
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><b>{$lang.heading_billing_information}</b></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td width="30%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><b>{$lang.heading_billing_address}</b> <a href="{html_href_link content=$filename.checkout_payment_address connection=SSL}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
              </tr>
              <tr>
                <td class="main">{oos_address_format address_format_id=$order->billing.format_id address=$order->billing html=1}</td>
              </tr>
              <tr>
                <td class="main"><b>{$lang.heading_payment_method}</b> <a href="{html_href_link content=$filename.checkout_payment connection=SSL}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
              </tr>
              <tr>
                <td class="main">{$order->info.payment_method}</td>
              </tr>
            </table></td>
            <td width="70%" valign="top" align="right"><table border="0" cellspacing="0" cellpadding="2">
 {if $order_total_output != ''}
    {$order_total_output}
 {/if}
            </table></td>
          </tr>
        </table></td>
      </tr>
{if $confirmation}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><b>{$lang.heading_payment_information}</b></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main" colspan="4">{$confirmation.title}</td>
              </tr>
     {foreach item=fields from=$confirmation.fields}
              <tr>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main">{$fields.title}</td>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main">{$fields.field}</td>
              </tr>
     {/foreach}
            </table></td>
          </tr>
        </table></td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
{if $order->info.comments != ''}
      <tr>
        <td class="main"><b>{$lang.heading_order_comments}</b> <a href="{html_href_link content=$filename.checkout_payment connection=SSL}"><span class="orderEdit">({$lang.text_edit})</span></a></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main">{$order->info.comments|nl2br}<input type="hidden" name="payment" value="{$order->info.comments}"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}
 {if $smarty.const.DISPLAY_CONDITIONS_ON_CHECKOUT eq 'true'}
      <tr>
        <td class="main"><b>{$lang.heading_conditions_information}</b></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main" colspan="4">{$lang.heading_conditions_text}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" class="main">
        <form name="checkout_confirmation" action="{$form_action_url}" method="post">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
		
{if $payment_modules_process_button != '' }
  {$payment_modules_process_button}
{/if}
{html_image_submit image="confirm_order.gif" alt=$lang.image_button_confirm_order}</form>
        </td>
      </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" align="right"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td><img src="{$theme_image}/checkout_bullet.gif" border="0" alt=" " width="11" height="11"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" width="25%" class="checkoutBarFrom"><a href="{html_href_link content=$filename.checkout_shipping connection=SSL}" class="checkoutBarFrom">{$lang.checkout_bar_delivery}</a></td>
            <td align="center" width="25%" class="checkoutBarFrom"><a href="{html_href_link content=$filename.checkout_payment connection=SSL}" class="checkoutBarFrom">{$lang.checkout_bar_payment}</a></td>
            <td align="center" width="25%" class="checkoutBarCurrent">{$lang.checkout_bar_confirmation}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_finished}</td>
          </tr>
        </table></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}