{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <form name="order" action="{html_href_link content=$filename.checkout_success action=update connection=SSL}" method="post">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $gv_amount > 0}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center" class="main">{$lang.gv_has_vouchera}<a href="{html_href_link content=$filename.gv_send connection=SSL}">e-Mail</a> {$lang.gv_has_voucherb}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}
      <tr>
        <td align="right" class="main">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" align="right"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td width="50%"><img src="{$theme_image}/checkout_bullet.gif" border="0" alt=" " width="11" height="11"></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" width="25%" class="checkoutBarFrom">{$lang.checkout_bar_delivery}</td>
            <td align="center" width="25%" class="checkoutBarFrom">{$lang.checkout_bar_payment}</td>
            <td align="center" width="25%" class="checkoutBarFrom">{$lang.checkout_bar_confirmation}</td>
            <td align="center" width="25%" class="checkoutBarCurrent">{$lang.checkout_bar_finished}</td>
          </tr>
        </table></td>
      </tr>
    </table>
    </form>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}