{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
<form name="checkout_address" action="{html_get_link connection=SSL}" method="post">
	<input type="hidden" name="content" value="{$filename.checkout_shipping}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}

<input type="hidden" name="action" value="process"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_shipping_address}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="50%" valign="top">{$lang.text_choose_shipping_destination}<br><br><a href="{html_href_link content=$filename.checkout_shipping_address connection=SSL}">{html_image_button image="change_address.gif" alt=$lang.image_button_change_address}</a></td>
                <td align="right" width="50%" valign="top"><table border="0" cellspacing="0" cellpadding="2">
                  <tr>
                    <td class="main" align="center" valign="top"><b>{$lang.title_shipping_address}</b><br><img src="{$theme_image}/arrow_south_east.gif" border="0" alt=" " width="50" height="31"></td>
                    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" valign="top">{oos_address_label customers_id=$smarty.session.customer_id address_id=$smarty.session.sendto}</td>
                    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
 {if $counts_shipping_modules > 0 }
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_shipping_method}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
    {if sizeof($quotes) > 1 }
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="50%" valign="top">{$lang.text_choose_shipping_method}</td>
                <td class="main" width="50%" valign="top" align="right"><b>{$lang.title_please_select}</b><br><img src="{$theme_image}/arrow_east_south.gif" border="0" alt=" " width="40" height="32"></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
    {elseif $free_shipping eq false }
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main" width="100%" colspan="2">{$lang.text_enter_shipping_information}</td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
    {/if}

    {if $free_shipping eq true }
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td colspan="2" width="100%"><table border="0" width="100%" cellspacing="0" cellpadding="2">
                  <tr>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" colspan="3"><b>{$lang.free_shipping_title}</b>&nbsp;{$quotes[i].icon}</td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                  <tr id="defaultSelected" class="moduleRowSelected" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="selectRowEffect(this, 0)">
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" width="100%">{$oos_free_shipping_description}<input type="hidden" name="shipping" value="free_free"></td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
                </table></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
   {else}
      {counter start=0 skip=1 print=false}
      {section name=i loop=$quotes}
              <tr>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td colspan="2"><table border="0" width="100%" cellspacing="0" cellpadding="2">
                  <tr>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" colspan="3"><b>{$quotes[i].module}</b>&nbsp;{$quotes[i].icon}</td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
        {if isset($quotes[i].error)}
                  <tr>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" colspan="3">{$quotes[i].error}</td>
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
        {else}
          {section name=n loop=$quotes[i].methods}
            {if ( ($quotes[i].methods[n].id eq $sess_method) || ($counts_shipping_modules eq (int)1) ) }
                  <tr id="defaultSelected" class="moduleRowSelected" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="selectRowEffect(this, {counter})">
            {else}
                  <tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="selectRowEffect(this, {counter})">
            {/if}
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                    <td class="main" width="75%">{$quotes[i].methods[n].title}</td>
            {if ( ($smarty.section.i.total > 1) || ($smarty.section.n.total > 1) ) }
                    <td class="main">{oos_cost price=$quotes[i].methods[n].cost tax=$quotes[i].tax}</td>
               {if $quotes[i].methods[n].id eq $sess_method }
                    <td class="main" align="right"><input type="radio" name="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}" CHECKED></td>
               {else}
                   <td class="main" align="right"><input type="radio" name="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}"></td>
               {/if}
            {else}
                    <td class="main" align="right" colspan="2">{oos_cost price=$quotes[i].methods[n].cost tax=$quotes[i].tax}<input type="hidden" name="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}"></td>
            {/if}
                    <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                  </tr>
          {/section}
        {/if}
                </table></td>
                <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
      {/section}
    {/if}
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
  {/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_comments}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
             <tr>
               <td>
<span id="spell_container" style="background-color: #ddd"></span><br>
<textarea id="tal" name="comments" class="textarea">{$smarty.session.comments|stripslashes}</textarea>

               </td>
             </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>

{if $campaigns eq 'true'}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><b>{$lang.table_heading_campaigns}</b></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{oos_radios name="campaign_id" options=$campaigns_radios selected=$campaigns_id}
            </table></td>
          </tr>
        </table></td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="oos-BoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
                <td class="main"><b>{$lang.title_continue_checkout_procedure}</b><br>{$lang.text_continue_checkout_procedure}</td>
                <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
                <td width="10"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="10" height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" align="right"><img src="{$theme_image}/checkout_bullet.gif" border="0" alt=" " width="11" height="11"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
              </tr>
            </table></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
            <td width="25%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="100%" height="1"></td>
                <td width="50%"><img src="{$theme_image}/pixel_silver.gif" border="0" alt=" " width="1" height="5"></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" width="25%" class="checkoutBarCurrent">{$lang.checkout_bar_delivery}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_payment}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_confirmation}</td>
            <td align="center" width="25%" class="checkoutBarTo">{$lang.checkout_bar_finished}</td>
          </tr>
        </table></td>
      </tr>
    </table>
    </form>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}