{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="{$theme_image}/heading/{$oos_heading_image}" border="0" alt="{$heading_title}" width="175" height="198"></td>
    <td valign="top" class="main"><img src="{$theme_image}/trans.gif" border="0" alt="" width="1" height="10"><div align="center" class="pageHeading">{$heading_title}</div><br>{$lang.text_success}<br><br>
{if $oEvent->installed_plugin('notify')}
{$products_notify}
{/if}
<h3>{$lang.text_thanks_for_shopping}</h3></td>
  </tr>
</table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}