{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.get.action eq 'success' }
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><img src="{$theme_image}/heading/man_on_board.gif" border="0" alt="{$heading_title}" width="175" height="198" align="left">{$lang.text_success}</td>
          </tr>
          <tr>
            <td align="right"><br><a href="{html_href_link content=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
          </tr>
        </table></td>
      </tr>
{else}
      <tr>
        <td>
<form name="contact_us" action="{html_href_link content=$filename.contact_us action=send}" method="post">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}



<table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.entry_name}<br><input type="text" name="name" value="{$smarty.post.name}" size=40></td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_email}<br><input type="text" name="email" value="{$smarty.post.email}" size=40> {if $error eq 'true'}{$lang.entry_email_address_check_error}{/if}</td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_enquiry}</td>
          </tr>
          <tr>
            <td>
<span id="spell_container" style="background-color: #ddd"></span><br>
<textarea id="tal" name="enquiry" class="textarea">{$smarty.post.enquiry|stripslashes}</textarea>
         </td>
          </tr>
          <tr>
            <td class="main" align="right"><br>{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></form></td>
      </tr>
{/if}
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}
	