{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td><br>{$also_purchased_products}</td>
       </tr>
       <tr>
         <td><br>{$xsell_products}</td>
       </tr>
       <tr>
         <td><br>{$up_sell_products}</td>
       </tr>
      <tr>
        <td>{include file="phoenix/products/history_products.html"}</td>
      </tr>
{$featured}
      <tr>
       <td><hr size="1" noshade></td>
      </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
  <tr>
    <td>{include file="phoenix/products/slavery_product_listing.html"}</td>
  </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
     </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->	 
{include file="phoenix/system/_footer.tpl"}
