{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				{$informations.information_description}
            </div>
        </div>
    </div>
    </section>

{include file="phoenix/system/_footer.tpl"}