{include file="phoenix/system/_header.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="featured">
	<!-- start slider -->
		{$featured}
	<!-- end slider -->
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text">
					{$lang.text_main}
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{$new_spezials}			
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="col-md-12">
				{$new_products}
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="col-md-12">
				{$mod_manufacturers}
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="col-md-12">
				{$upcoming_products}
			</div>
		</div>
	</div>
	</section>
	<section id="bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter">
					<div id="twitter-wrapper">
						<div id="twitter">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>


{include file="phoenix/system/_footer.tpl"}