{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td><img src="{$theme_image}trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
{if isset($smarty.get.email) && ($smarty.get.email eq 'nonexistent')}
       <tr>
         <td class="smallText">{$lang.entry_email_address_check_error}</td>
       </tr>
{/if}
      <tr>
        <td><form name="newsletters" method="post" action="{html_href_link content=$filename.newsletters action=process connection=SSL}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
		<br><table border="0" width="100%" cellspacing="0" cellpadding="3">
          <tr>
            <td colspan="2">
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="formAreaTitle">{$lang.category_personal}</td>
         </tr>
         <tr>
           <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
            <tr>
              <td class="main"><table border="0" cellspacing="0" cellpadding="2">
               <tr>
                <td class="main">&nbsp;{$lang.entry_first_name}</td>
                <td class="main">&nbsp;<input type="text" name="firstname" value="{$smarty.post.firstname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
              </tr>
              <tr>
               <td class="main">&nbsp;{$lang.entry_last_name}</td>
               <td class="main">&nbsp;<input type="text" name="lastname" value="{$smarty.post.lastname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
              </tr>
              <tr>
               <td class="main">&nbsp;{$lang.entry_email_address}</td>
               <td class="main">&nbsp;<input type="text" name="email_address" value="{$smarty.post.email_address}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
     </table></td>

          </tr>
          <tr>
            <td colspan="2"><br><table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td valign="top"></td>
                <td align="right" valign="top">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
              </tr>
            </table></td>
          </tr>

        </table></form></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}