{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="tableHeading">{$lang.table_heading_number}</td>
            <td class="tableHeading">{$lang.table_heading_author}</td>
            <td align="center" class="tableHeading">{$lang.table_heading_rating}</td>
            <td align="center" class="tableHeading">{$lang.table_heading_read}</td>
            <td align="right" class="tableHeading">{$lang.table_heading_date_added}</td>
          </tr>
          <tr>
            <td colspan="5"><img src="{$theme_image}/black.gif" border="0" alt=" " width="100%" height="1"></td>
          </tr>
{section name=i loop=$oos_reviews_array}
  {if $smarty.section.i.rownum is even}
          <tr class="productReviews-even">
  {else}
          <tr class="productReviews-odd">
  {/if}
            <td class="smallText">{$smarty.section.i.rownum|number_format}</td>
            <td class="smallText"><a href="{html_href_link content=$filename.product_reviews_info products_id=$smarty.get.products_id reviews_id=$oos_reviews_array[i].id}">{$oos_reviews_array[i].customers_name}</a></td>
            <td align="center" class="smallText"><img src="{$smarty.const.OOS_IMAGES}stars_{$oos_reviews_array[i].rating}.gif" border="0" alt="{$oos_reviews_array[i].rating|string_format:$lang.text_of_5_stars}" width="59" height="11"></td>
            <td align="center" class="smallText">{$oos_reviews_array[i].read}</td>
            <td align="right" class="smallText">{$oos_reviews_array[i].date_added}</td>
          </tr>
{sectionelse}
          <tr class="productReviews-odd">
            <td colspan="5" class="smallText">{$lang.text_no_reviews}</td>
          </tr>
{/section}
          <tr>
            <td colspan="5"><img src="{$theme_image}/black.gif" border="0" alt=" " width="100%" height="1"></td>
          </tr>
          <tr>
            <td class="main" colspan="5"><br><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><a href="{product_info_link products_id=$smarty.get.products_id}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
                <td align="right" class="main"><a href="{html_href_link content=$filename.product_reviews_write products_id=$smarty.get.products_id}">{html_image_button image="write_review.gif" alt=$lang.image_button_write_review}</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}