{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
	
<form name="cart_quantity" action="{html_get_link}" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="add_product">
<input type="hidden" name="content" value="{$page_file}">
{if $smarty.get.edit}
<input type="hidden" name="edit_product" value="{$smarty.get.products_id}">
{/if}
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
<table border="0" width="100%" cellspacing="0" cellpadding="0">

      <tr>
        <td height="5"></td>
      </tr>
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="main">{$product_info.products_description|stripslashes}
<br>
<script language="javascript"><!--
document.write('<a href="javascript:void window.open(\'{html_href_link content=$filename.popup_print products_id=$product_info.products_id}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_print}">{html_js_icon image="print.gif" alt=$lang.icon_button_print}</a>');
//--></script>

    </td>
    <td align="right" valign="top" class="smallText">
{if $product_info.products_image != '' }
  {if $smarty.const.LIGHTBOX eq 'true'}
    <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} ><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_image}" alt={$product_info.products_name|escape:"quotes"} border="0"></a><br>
    <br><br><a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} >{html_js_icon image="zoom.gif" alt=$lang.icon_button_zoom}{$lang.text_click_to_enlarge}</a>

  {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=0}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
  {/if}
{/if}


{if $oEvent->installed_plugin('wishlist')}
<br>{html_image_submit image="wishlist.gif" alt=$lang.image_button_in_wishlist name="button[wishlist][]"}
{/if}
            </td>
          </tr>
        </table></td>
       </tr>
{if $smarty.const.OOS_MO_PIC eq 'true'}
  {include file="phoenix/products/mo_pics.html"}
{/if}
       </tr>
       <tr>
         <td height="10"></td>
       </tr>
       <tr>
         <td>{$options}</td>
       <tr>
{if $reviews_total gt 0 }
      <tr>
        <td class="main"><br>{$lang.text_current_reviews}&nbsp;{$reviews_total}</td>
      </tr>
{/if}
{if $product_info.products_url != '' }
      <tr>
        <td class="main"><br>{$redirect|string_format:$lang.text_more_information}</td>
      </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
      <tr>
        <td align="center" class="smallText"><br>{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
      </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
      <tr>
        <td align="center" class="smallText"><br>{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
      </tr>
  {/if}
{/if}

{if $discounts_price eq 'true'}
  {include file="phoenix/products/discounts_price.html"}
{/if}

      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.session.error_cart_msg != ''}
      <tr>
        <td colspan="2" align="right" class="QtyErrors"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="errorBox"><img src="{$smarty.const.OOS_ICONS}warning.gif" border="0" alt="{$lang.icon_warning}" width="10" height="10">{$smarty.session.error_cart_msg}</td>
          </tr>
        </table></td>
      </tr>
{/if}
      <tr>
        <td align="right" class="main">{$lang.products_order_qty_text} <input type="text" name="cart_quantity" value="{$product_info.products_quantity_order_min|quantity}" size="3">
   {if $product_info.products_quantity_order_min > 1 }
     {$lang.products_order_qty_min_text} {$product_info.products_quantity_order_min|quantity}
   {/if}
   {if $product_info.products_quantity_order_units > 1 }
     {$lang.products_order_qty_unit_text} {$product_info.products_quantity_order_units|quantity}
   {/if}
        </td>
      </tr>
      <tr>
       <td><br><table border="0" width="100%" cellspacing="0" cellpadding="0">
         <tr>

        <td class="main">
{if $oEvent->installed_plugin('reviews')}
   {if $reviews_total gt 0 }
        <a href="{html_href_link content=$filename.product_reviews products_id=$product_info.products_id}">{html_image_button image="reviews.gif" alt=$lang.image_button_reviews}</a></td>
   {else}
        <a href="{html_href_link content=$filename.product_reviews_write products_id=$product_info.products_id}">{html_image_button image="write_review.gif" alt=$lang.image_button_write_review}</a></td>
   {/if}
        <td align="center" class="main">
{/if}

{if $cart_count_contents gt 0 }
   {if $smarty.session.member->group.show_price eq 1 }
        <a href="{html_href_link content=$filename.checkout_payment connection=SSL}">{html_image_button image="checkout.gif" alt=$lang.image_button_checkout}</a></td>
   {/if}
{/if}
        <td align="right" class="main"><input type="hidden" name="products_id" value="{$product_info.products_id}">
{if $smarty.session.member->group.show_price eq 1 }
   {html_image_submit image="in_cart.gif" alt=$lang.image_button_in_cart}
{else}
   <a href="{html_href_link content=$filename.login connection=SSL}">{html_image_button image="sign_in.gif" alt=$lang.image_button_login}</a>
{/if}</td>
          </tr>
        </table></td>
      </tr>
</table>
</form>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
{if $numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
<tr>
	<td>{include file="phoenix/products/slavery_product_listing.html"}</td>
</tr>
{if $numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
<tr>
	<td><br>{$xsell_products}</td>
</tr>
<tr>
	<td><br>{$up_sell_products}</td>
</tr>
<tr>
	<td><br>{$also_purchased_products}</td>
</tr>
{if $social_bookmarks}
<tr>
	<td><br>{$social_bookmarks}</td>
</tr>
{/if}
</table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}