{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
  {if $smarty.get.action eq 'process'}
      <tr>
        <td class="main"><img src="{$theme_image}/heading/man_on_board.gif" border="0" alt="{$heading_title}" width="175" height="198" align="left">{$lang.text_success}<br><br>gv {$id1}</td>
      </tr>
      <tr>
        <td align="right"><br><a href="{html_href_link content=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
      </tr>
  {/if}

  {if $smarty.get.action eq 'send' && $error eq 'false'}
      <tr>
        <td><form action="{html_href_link content=$filename.gv_send action=process}" method="post">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}		
		
		<table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$main_message}</td>
          </tr>
      {if $message != '' }
           <tr>
            <td class="main">{$gv_result.customers_firstname|string_format:$lang.personal_message}</td>
          </tr>
          <tr>
            <td class="main">{$message|stripslashes}</td>
          </tr>
      {/if}
      <input type="hidden" name="send_name" value="{$send_name}"><input type="hidden" name="to_name" value="{$to_name}"><input type="hidden" name="email" value="{$email}"><input type="hidden" name="amount" value="{$gv_amount}"><input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}"><input type="hidden" name="message" value="{$message}">

          <tr>
            <td class="main">{html_image_submit image="back.gif" alt=$lang.image_button_back name="back"}</td>
            <td align="right"><br>{html_image_submit image="send.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></form></td>
      </tr>
  {elseif $smarty.get.action eq '' || $error eq 'true'}
      <tr>
        <td class="main">{$lang.heading_text}</td>
      </tr>
      <tr>
        <td><form action="{html_href_link content=$filename.gv_send action=send}" method="post">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}		
		
		 <table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.entry_name}<br><input type="text" name="to_name" value="{$to_name}"></td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_email}<br><input type="text" name="email" value="{$email}">{if $error eq 'true'}{$error_email}{/if}</td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_amount}<br><input type="text" name="amount">{if $error eq 'true'}{$error_amount}{/if}</td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_message}<br><textarea name="message" wrap="soft" cols="50" rows="15">{$message|stripslashes}</textarea></td>
          </tr>
        </table>
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
  {if $back_link != '' }
            <td class="main"><a href="{$back_link}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>

  {/if}
             <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></form></td>
      </tr>
 {/if}
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}