{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

{if $cart_count_contents gt 0 }

	<form name="cart_quantity" action="{html_href_link content=$filename.shopping_cart action=update_product}" method="post">
	{if $mySystem.sed}
		<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
		<input type="hidden" name="formid" value="{$mySystem.formid}">
	{/if}		
	{$hidden_field}
          <table border="0" width="100%" cellspacing="0" cellpadding="2">{$shopping_cart_detail}
      </tr>
  {if $smarty.session.error_cart_msg != ''}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="QtyErrors">{$smarty.session.error_cart_msg}</td>
      </tr>
  {/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="right" class="main"><b>{$lang.sub_title_sub_total} {$oos_cart_total}</b></td>
      </tr>
  {if $any_out_of_stock eq 1 }
    {if $smarty.const.STOCK_ALLOW_CHECKOUT eq 'true'}
      <tr>
        <td class="stockWarning" align="center"><br>{$lang.out_of_stock_can_checkout}</td>
      </tr>
    {else}
      <tr>
        <td class="stockWarning" align="center"><br>{$lang.out_of_stock_cant_checkout}</td>
      </tr>
    {/if}
  {/if}
      <tr>
        <td><br><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{html_image_submit image="update_cart.gif" alt=$lang.image_button_update_cart}</td>
            <td align="right" class="main">{if $smarty.session.member->group.show_price eq 1 }<a href="{html_href_link content=$filename.checkout_shipping connection=SSL}">{html_image_button image="checkout.gif" alt=$lang.image_button_continue}</a>{/if}</td>
          </tr>
        </table></form></td>
         </table>
{else}
				<div class="alert alert-info" role="alert">
					{$lang.text_cart_empty}
				</div>
{/if}
            </div>
        </div>
    </div>
    </section>

{include file="phoenix/system/_footer.tpl"}