{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
				{$sitemap}
            </div>
            <div class="col-md-6">
				<ul>
					<li><a href="{html_href_link content=$filename.main_shopping_cart}" title="{$lang.page_shopping_cart}">{$lang.page_shopping_cart}</a></li>
					<li><a href="{html_href_link content=$filename.checkout_shipping}" title="{$lang.page_checkout_shipping}">{$lang.page_checkout_shipping}</a></li>
					<li><a href="{html_href_link content=$filename.advanced_search}" title="{$lang.page_advanced_search}">{$lang.page_advanced_search}</a></li>
					<li><a href="{html_href_link content=$filename.products_new}" title="{$lang.page_products_new}">{$lang.page_products_new}</a></li>
					<li><a href="{html_href_link content=$filename.specials}" title="{$lang.page_specials}">{$lang.page_specials}</a></li>
				{if $oEvent->installed_plugin('reviews')}
					<li><a href="{html_href_link content=$filename.reviews_reviews}" title="{$lang.page_reviews}">{$lang.page_reviews}</a></li>
				{/if}
	                <li>{$lang.page_service}
						<ul>
							<li><a href="{html_href_link content=$filename.advanced_search}" title="{$lang.block_service_advanced_search}">{$lang.block_service_advanced_search}</a></li>
						{if $oEvent->installed_plugin('reviews')}
							<li><a href="{html_href_link content=$filename.reviews_reviews}" title="{$lang.block_service_reviews}">{$lang.block_service_reviews}</a></li>
						{/if}
							<li><a href="{html_href_link content=$filename.main_shopping_cart}" title="{$lang.block_service_shopping_cart}">{$lang.block_service_shopping_cart}</a></li>
						</ul>
					</li>

					<li>{$lang.heading_information}
						<ul>
						{foreach item=info from=$information}
							<li><a href="{html_href_link content=$filename.information information_id=$info.information_id}" title="{$info.information_name}">{$info.information_name}</a></li>
						{/foreach}
							<li><a href="{html_href_link content=$filename.contact_us}" title="{$lang.block_service_contact}">{$lang.block_service_contact}</a></li>
						</ul>
					</li>
				</ul>
            </div>
        </div>
    </div>
    </section>

{include file="phoenix/system/_footer.tpl"}