{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$pagination}
{/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{section name=i loop=$oos_specials_array}
  {if $smarty.section.i.first}
          <tr>
            <td><br>
<table border="0" width="100%" cellspacing="0" cellpadding="4">
  <tr>
  {/if}
     <td width="50%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td valign="top" align="left" width="{$smarty.const.SMALL_IMAGE_WIDTH}" class="smallText"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="{$smarty.const.SMALL_IMAGE_WIDTH}" height="5"><br>
           <a href="{product_info_link products_id=$oos_specials_array[i].products_id}">{small_product_image image=$oos_specials_array[i].products_image alt=$oos_specials_array[i].products_name|strip_tags}</a><br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="top" class="smallText"><a href="{product_info_link products_id=$oos_specials_array[i].products_id}"><b>{$oos_specials_array[i].products_name}</b></a><br>
           <br>{$oos_specials_array[i].products_description|truncate:120:" [...]":false|close_tags}<br>
         </td>
       </tr>
       <tr>
         <td valign="bottom" class="smallText">
           <s>{$oos_specials_array[i].products_price}</s><br>
           {$oos_specials_array[i].products_special_price}<br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="bottom" align="right" >{if $smarty.session.member->group.show_price eq 1 }<a href="{html_href_link content=$page_file action=buy_now products_id=$oos_specials_array[i].products_id}">{html_image_button image="hp_buy.gif" alt=$lang.image_button_in_cart}</a>{/if}
         <img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1">
         <a href="{product_info_link products_id=$oos_specials_array[i].products_id}">{html_image_button image="hp_more.gif" alt=$lang.image_button_in_cart}</a>
         </td>
       </tr>
        <tr>
          <td valign="top" colspan="3">
{if $oos_specials_array[i].products_base_price != 1}
  <span class="smallText">{$lang.text_products_base_price}: </span>
  <span class="special_base_price">{$oos_specials_array[i].products_base_unit} = {$oos_specials_array[i].base_product_special_price}</span></s><br>
{/if}
<span class="pangv">{$pangv}</span><br>
          </td>
        </tr>
     </table></td>
  {if $smarty.section.i.rownum is even}
    </tr>
    <tr>
  {else}
     <td><img src="{$theme_image}/pg.gif" border="0" alt=" " width="1" height="150"></td>
  {/if}
  {if $smarty.section.i.last}
  </tr>
</table>
            </td>
          </tr>
  {/if}
{/section}
        </table></td>
      </tr>
{if $numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
  {$pagination}
{/if}
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}