{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td><img src="{$theme_image}trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
{if isset($smarty.get.email) && ($smarty.get.email eq 'nonexistent')}
       <tr>
         <td class="smallText">{$lang.text_no_email_address_found}</td>
       </tr>
{/if}
      <tr>
        <td>
<form name="subscription_center" method="post" action="{html_href_link content=$filename.subscription_center action=process connection=SSL}">
		
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
		<br><table border="0" width="100%" cellspacing="0" cellpadding="3">
          <tr>
            <td align="right" class="main">{$lang.entry_email_address}</td>
            <td class="main"><input type="text" name="email_address" maxlength="96" value="{$smarty.post.email_address}"></td>
          </tr>
          <tr>
            <td colspan="2"><br><table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td valign="top"></td>
                <td align="right" valign="top">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
              </tr>
            </table></td>
          </tr>
        </table></form></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}