{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main">{$lang.text_product_notifications_introduction}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
{if $global_status.global_product_notifications eq '1' }
          <tr>
            <td class="main"><b>{$lang.heading_global_product_notifications}</b></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_enabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_description_enabled}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <form name="global" method="post" action="{html_href_link content=$filename.product_notifications action=global_notify connection=SSL}">
          <tr>
            <td class="main"><input type="checkbox" name="global" value="enable" CHECKED>{$lang.text_enable_global_notifications}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main">{html_image_submit image="update.gif" alt=$lang.image_button_update}</td>
          </tr>
          </form>
{else}
          <tr>
            <td class="main"><b>{$lang.heading_global_product_notifications}</b></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_disabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_description_disabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <form name="global" method="post" action="{html_href_link content=$filename.product_notifications action=global_notify connection=SSL}">
          <tr>
            <td class="main"><input type="checkbox" name="global" value="enable">{$lang.text_enable_global_notifications}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main">{html_image_submit image="update.gif" alt=$lang.image_button_update}</td>
          </tr>
          </form>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main"><b>{$lang.heading_product_notifications}</b></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_product_notifications_list}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <form name="notifications" method="post" action="{html_href_link content=$filename.product_notifications action=update_notifications connection=SSL}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}

{section name=i loop=$products_array}
      <tr>
       <td class="main"><input type="checkbox" name="products[]" value="{$products_array[i].products_id}">&nbsp;{$products_array[i].products_name}</td>
       </tr>
{/section}
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{html_image_submit image="remove_notifications.gif" alt=$lang.image_button_remove_notifications}</td>
          </tr>
          </form>
{/if}
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td align="right" class="smallText"><a href="{html_href_link content=$filename.account connection=SSL}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>

	
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
	
{include file="phoenix/system/_footer.tpl"}