{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockleft}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">

     <table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="formAreaTitle">{$lang.category_personal}</td>
         </tr>
         <tr>
           <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
            <tr>
              <td class="main"><table border="0" cellspacing="0" cellpadding="2">
{if $smarty.const.ACCOUNT_GENDER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_gender}</td>
            <td class="main">&nbsp;
  {if $gender_error eq 'true'}
      <input type="radio" name="gender" value="m" CHECKED>&nbsp;&nbsp;{$lang.male}&nbsp;&nbsp;<input type="radio" name="gender" value="f">&nbsp;&nbsp;{$lang.female}&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_info_text}</font></small></td>
  {else}
    {if $gender eq 'm' }
      {$lang.male}
    {else}
      {$lang.female}
    {/if}
      <input type=hidden name="gender" value="{$gender}">
  {/if}
            </td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_first_name}</td>
            <td class="main">&nbsp;
  {if $firstname_error eq 'true'}
     <input type="text" name="firstname" value="{$firstname}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_first_name_error}</font></small>
  {else}
     {$firstname}<input type=hidden name="firstname" value="{$firstname}">
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_last_name}</td>
            <td class="main">&nbsp;
  {if $lastname_error eq 'true'}
     <input type="text" name="lastname" value="{$lastname}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_last_name_error}</font></small>
  {else}
     {$lastname}<input type=hidden name="lastname" value="{$lastname}">
  {/if}
            </td>
          </tr>
{if $smarty.const.ACCOUNT_DOB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_date_of_birth}</td>
            <td class="main">&nbsp;
  {if $date_of_birth_error eq 'true'}
     <input type="text" name="dob" value="{$dob}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_date_of_birth_text}</font></small>
  {else}
     {$dob}<input type=hidden name="dob" value="{$dob}">
  {/if}
            </td>
          </tr>
{/if}
{if $smarty.const.ACCOUNT_NUMBER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_number}</td>
            <td class="main">&nbsp;{$number}<input type=hidden name="number" value="{$number}"></td>
          </tr>
{/if}
         <tr>
            <td class="main">&nbsp;{$lang.entry_email_address}</td>
            <td class="main">&nbsp;
  {if $email_address_error eq 'true'}
      <input type="text" name="email_address" value="{$email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_error}</font></small>
  {elseif $email_address_check_error eq 'true'}
      <input type="text" name="email_address" value="{$email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_check_error}</font></small>
  {elseif $email_address_exists eq 'true'}
      <input type="text" name="email_address" value="{$email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_error_exists}</font></small>
  {else}
      {$email_address}<input type=hidden name="email_address" value="{$email_address}">
  {/if}
        </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_company}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_company}</td>
            <td class="main">&nbsp;{$company}<input type=hidden name="company" value="{$company}"></td>
          </tr>
  {if $smarty.const.ACCOUNT_OWNER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_owner}</td>
            <td class="main">&nbsp;{$owner}<input type=hidden name="owner" value="{$owner}"></td>
          </tr>
  {/if}
  {if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_vat_id}</td>
            <td class="main">&nbsp;
    {if $vatid_check_error eq 'true'}
        <input type="text" name="vat_id" value="{$vat_id}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_vat_id_error}</font></small>
    {else}
        {$vat_id}<input type=hidden name="vat_id" value="{$vat_id}">
    {/if}
             </td>
          </tr>
  {/if}
        </table></td>
      </tr>
    </table></td>
  </tr>
{/if}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_address}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_street_address}</td>
            <td class="main">&nbsp;
  {if $street_address_error eq 'true'}
     <input type="text" name="street_address" value="{$street_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_street_address_error}</font></small>
  {else}
     {$street_address}<input type=hidden name="street_address" value="{$street_address}">
  {/if}
            </td>
          </tr>
{if $smarty.const.ACCOUNT_SUBURB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_suburb}</td>
            <td class="main">&nbsp;{$suburb}<input type=hidden name="suburb" value="{$suburb}"></td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_post_code}</td>
            <td class="main">&nbsp;
  {if $post_code_error eq 'true'}
     <input type="text" name="postcode" value="{$postcode}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_post_code_error}</font></small>
  {else}
     {$postcode}<input type=hidden name="postcode" value="{$postcode}">
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_city}</td>
            <td class="main">&nbsp;
  {if $city_error eq 'true'}
     <input type="text" name="city" value="{$city}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_city_error}</font></small>
  {else}
     {$city}<input type=hidden name="city" value="{$city}">
  {/if}
            </td>
          </tr>
{if $smarty.const.ACCOUNT_STATE eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_state}</td>
            <td class="main">&nbsp;
  {if $state_error eq 'true'}
      {if $state_has_zones eq 'true'}
          <select name=state>{html_options values=$zones_values output=$zones_names}</select>&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_info_text}</font></small>
      {else}
          <input type="text" name="state" value="">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_state_error}</font></small>
      {/if}
  {else}
     {$state} <input type=hidden name="zone_id" value="{$zone_id}"><input type=hidden name="state" value="{$state}">
  {/if}
            </td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_country}</td>
            <td class="main">&nbsp;
  {if $country_error eq 'true'}
     {oos_get_country_list name=country}&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_country_error}</font></small>
  {else}
     {$country_name}<input type=hidden name="country" value="{$country}">
  {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_contact}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_telephone_number}</td>
            <td class="main">&nbsp;
  {if $telephone_error eq 'true'}
     <input type="text" name="telephone" value="{$telephone}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_telephone_number_error}</font></small>
  {else}
     {$telephone}<input type=hidden name="telephone" value="{$telephone}">
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_fax_number}</td>
            <td class="main">&nbsp;{$fax}<input type=hidden name="fax" value="{$fax}"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_options}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_newsletter}</td>
            <td class="main">&nbsp;{$news}<input type=hidden name="newsletter" value="{$newsletter}"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
{if $show_password eq 'true'}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_password}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_password}</td>
            <td class="main">&nbsp;
  {if $password_error eq 'true'}
     <input type="password" name="password" maxlength="40">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_password_error}</font></small>
  {else}
     {$password_hidden}<input type=hidden name="password" value="{$password}"><input type=hidden name="confirmation" value="{$confirmation}">
  {/if}
            </td>
          </tr>
  {if $password_error eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_password_confirmation}</td>
            <td class="main">&nbsp;<input type="password" name="confirmation" maxlength="40">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_password_confirmation}</font></small></td>
          </tr>
  {/if}
        </table></td>
      </tr>
    </table></td>
  </tr>
{/if}
</table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">
{foreach item=block from=$oos_blockright}
   {include file="phoenix/system/_block.tpl"}
{/foreach}
    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.tpl"}