{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $info_message !='' }
      <tr>
        <td class="smallText">{$info_message}</td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
{/if}
      <tr>
        <td>

<form role="form" name="login" action="{html_get_link connection=SSL}" method="post">
{if $mySystem.sed}
	<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
	<input type="hidden" name="action" value="process">
	<input type="hidden" name="content" value="{$filename.login}">



<table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" width="50%" valign="top"><b>{$lang.heading_new_customer}</b></td>
            <td class="main" width="50%" valign="top"><b>{$lang.heading_returning_customer}</b></td>
          </tr>
          <tr>
            <td width="50%" height="100%" valign="top"><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
              <tr>
                <td><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main" valign="top">{$lang.text_new_customer}<br><br>{$lang.text_new_customer_introduction}</td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="50%" height="100%" valign="top"><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
              <tr>
                <td><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main" colspan="2">{$lang.text_returning_customer}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_email_address}</b></td>
                    <td class="main"><input type="text" name="email_address" maxlength="96" size="20" value=""></td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_password}</b></td>
                    <td class="main"><input type="password" name="password" maxlength="40" size="20" value=""></td>
                 </tr>

                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                  <tr>
                    <td class="smallText" colspan="2"><a href="{html_href_link content=$filename.password_forgotten connection=SSL}">{$lang.text_password_forgotten}</a></td>
                  </tr>
                  <tr>
                    <td colspan="2"><td height="10"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="50%" align="right" valign="top"><a href="{html_href_link content=$filename.create_account connection=SSL}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
            <td width="50%" align="right" valign="top">{html_image_submit image="sign_in.gif" alt=$lang.image_button_login}</td>
          </tr>
        </table></form></td>
      </tr>
    </table>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
  </tr>
</table>
<!-- body_eof //-->

{include file="phoenix/system/_footer.tpl"}