{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach item=info from=$message}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="sign-form">
					<h3>{$lang.navbar_title_2}</h3>
					<hr>
					<form role="form" name="password_forgotten" method="post" action="{html_get_link connection=SSL}">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.password_forgotten}">	
					
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="email" class="form-control" id="email" placeholder="{$lang.entry_email_address}" data-original-title="" title="">
							</div>
							<br>

							<button type="submit" class="btn btn-color">{$lang.button_continue}</button>
							<hr>
						</form>
						<p><a href="{html_href_link content=$filename.login connection=SSL}">{$lang.link_back_to_login}</a></p>
				</div>
			</div>
		</div> <!-- / .row -->
	</div> <!-- / .container -->
	</section>
	
{include file="phoenix/system/_footer.tpl"}