{if $oEvent->installed_plugin('reviews')}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="115" class="block_head_background">{$block_heading_reviews}</td>
    <td width="20" class="block_head_background" nowrap="nowrap"><a href="{html_href_link content=$filename.reviews}"><img src="{$theme_image}/infobox/more.gif" border="0" alt="{$lang.icon_arrow_right}" width="15" height="19"></a><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="center" valign="top" class="block_content">
{if $random_product.reviews_text}
     <div align="center"><a href="{html_href_link content=$filename.product_reviews_info products_id=$random_product.products_id reviews_id=$random_product.reviews_id}">{small_product_image image=$random_product.products_image alt=$random_product.products_name|strip_tags}</a></div>
     <div align="left"><a href="{html_href_link content=$filename.product_reviews_info products_id=$random_product.products_id reviews_id=$random_product.reviews_id}">{$random_product.reviews_text|strip|truncate:55:"...":true|close_tags|bbcode2html|B2Smilies}</a></div>
     <div align="center"><img src="{$smarty.const.OOS_IMAGES}stars_{$random_product.reviews_rating}.gif" border="0" alt="{$random_product.reviews_rating|string_format:$lang.text_of_5_stars}" width="59" height="11"></div>
{elseif (isset($smarty.get.products_id))}
    <table border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td class="oos-BlockContent"><a href="{html_href_link content=$filename.product_reviews_write products_id=$smarty.get.products_id}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=box_write_review.gif alt=$lang.image_button_write_review}</a><br>
        <td class="oos-BlockContent"><a href="{html_href_link content=$filename.product_reviews_write products_id=$smarty.get.products_id}">{$lang.block_reviews_write_review}</a></td>
      </tr>
    </table>
{else}
  {$lang.block_reviews_no_reviews}
{/if}
            </td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}