
  {if ( (($product_info.products_subimage1) or ($product_info.products_subimage2) or ($product_info.products_subimage3) or ($product_info.products_subimage4) or ($product_info.products_subimage5) or ($product_info.products_subimage6)) )}

      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
          <table border="0" width="100%">
             <tr width=100%>
    {if $product_info.products_subimage1 != '' }
               <td align="center" class="smallText">
               {if $smarty.const.LIGHTBOX eq 'true'}
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage1}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage1}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=1}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage1 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage1 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
               {/if}
               </td>
    {/if}
    {if $product_info.products_subimage2 != '' }
               <td align="center" class="smallText">
               {if $smarty.const.LIGHTBOX eq 'true'}
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage2}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage2}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=2}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage2 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage2 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
                {/if}
               </td>
    {/if}
    {if $product_info.products_subimage3 != '' }
             <td align="center" class="smallText">
             {if $smarty.const.LIGHTBOX eq 'true'}
                <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage3}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage3}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
             {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=3}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage3 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage3 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
             {/if}
               </td>
    {/if}
           </tr>
           <tr width="100%">
    {if $product_info.products_subimage4 != '' }
               <td align="center" class="smallText">
               {if $smarty.const.LIGHTBOX eq 'true'}
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage4}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage4}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=4}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage4 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage4 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
               {/if}
               </td>
    {/if}
    {if $product_info.products_subimage5 != '' }
              <td align="center" class="smallText">
              {if $smarty.const.LIGHTBOX eq 'true'}
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage5}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage5}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=5}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage5 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage5 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
              {/if}
              </td>
    {/if}
    {if $product_info.products_subimage6 != '' }
             <td align="center" class="smallText">
             {if $smarty.const.LIGHTBOX eq 'true'}
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage6}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage6}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               {else}
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link content=$filename.popup_image pID=$product_info.products_id image=6}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage6 alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_subimage6 alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br>
</noscript>
              {/if}
              </td>
    {/if}
           </tr>
        </table>
      </td>
    </tr>
{/if}