{include file="phoenix/system/_header.tpl"}

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
{$categories_box}
              </tr>
            </table></td>
          </tr>
{include file="phoenix/modules/products/new_products.html"}
        </table></td>
      </tr>
    </table>
